<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<display-name>Application Hello World</display-name>

<description>Application qui affiche Hello World. </description>

	<servlet>
		<servlet-name>Calculer</servlet-name>
		<servlet-class>edu.univ.nantes.tdMaven.CalculServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Calculer</servlet-name>
		<url-pattern>/Calculer</url-pattern>
	</servlet-mapping>

</web-app>
